

<h1>Pick up location: <%= @item[:location] %></h1>
<break>
<h2> <%= @item[:item_name] %> </h2>
<p> Price: <%= @item[:price] %></p>





<form action="/items/<%= @item[:id] %>/customer_input/create" method="post">
  
  
  
  <div class="form-group">
    <label>desired pick-up time/comments</label>
    <textarea class="form-control" rows="3" name="desired_pick_up_times"></textarea>
    
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
