

<h1>Pick Up location:  228 N. Geneva Ave., Elmhurst IL</h1>
<break>
<h2> <%= @item[:item_name] %> </h2>
<p> Price: <%= @item[:price] %></p>





<form>
  
  
  <div class="form-group">
    <label>Your name</label>
    <input type="text" class="form-control">
  </div>
   <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label>Desired Pick-up times/comments</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
</form>